/*##############################################################################
// File:  index.css
//##############################################################################
// (c)2020 Billy Mortimer
//##############################################################################
*/

#imageContainer {
  background-color: gainsboro;
  height: 1000px;
  border: 1px solid black;
  border-radius: 5px;
}
